@charset "utf-8";
/* CSS Document */
#bannerDiv {
	position: absolute;
	top: 1px;
	width: 1244px;
	height: 96px;
	z-index: 1;
	left: 1px;
}
#profileDiv {
	position: absolute;
	left: 20px;
	top: 144px;
	width: 50px;
	height: 150px;
	z-index: 2;
}

#profileMenu {
	position: absolute;
	left: 20px;
	top: 10px;
	width: 113px;
	height: 34px;
	z-index: 4;
	text-decoration: none;
}
#nameDiv {
	position: absolute;
	left: 20px;
	top: 309px;
	width: 132px;
	height: 63px;
	z-index: 5;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	text-align: center;
}
#profileSearch {
	position: absolute;
	left: 19px;
	top: 382px;
	width: 133px;
	height: 23px;
	z-index: 6;
}
#adminDiv {
	position: absolute;
	left: 19px;
	top: 410px;
	width: 134px;
	height: 21px;
	z-index: 7;
}
 #demo {cursor: hand}
    #demo UL {display: none;cursor: text}
    .key {text-decoration: underline}
#apDiv8 {
	position: absolute;
	left: -6px;
	top: 391px;
	width: 187px;
	height: 744px;
	z-index: 8;
}
#searchDiv {
	position: absolute;
	left: 960px;
	top: 120px;
	width: 198px;
	height: 20px;
	z-index: 9;
}
#widget {
	position: absolute;
	left: 960px;
	top: 600px;
	width: 275px;
	height: 284px;
	z-index: 10;
	background-color: #FFFFFF;
}

#mapWidget {
	position: absolute;
	left: 963px;
	top: 150px;
	width: 275px;
	height: 445px;
	z-index: 12;
}

#apDiv11 {
	position: absolute;
	left: 488px;
	top: 450px;
	width: 342px;
	height: 122px;
	z-index: 11;
}
#apDiv12 {
	position: absolute;
	left: 469px;
	top: 197px;
	width: 308px;
	height: 196px;
	z-index: 11;
}
#sidetree {
	position: absolute;
	left: 20px;
	top: 445px;
	width: 201px;
	height: 581px;
	z-index: 11;
}
